@font-face {
  font-family: 'neucha';
  src: local('neucha'),
        url('../fonts/neucha.regular.ttf');
}

html, body {
    margin: 0;
    background: black;
	font-family: 'neucha',Arial,Helvetica,sans-serif;
	color: #c3aea1;
	font-size: 1.2em;
}

.canvas-holder {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}

#webgl-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

a { color: #c3aea1; }
a:visited { color: #c3aea1; }

#xr-button {
    font-size: 150%;
    border-radius: 10px;
    border: none;
	background: #c3aea1;
	color: black;
    margin: 1em;
    padding: 0.5em;
	font-family: 'neucha',Arial,Helvetica,sans-serif;
}

#game-info {
	padding: 1em;
	max-width: 40em;
}
